[submodule "src/zig-regex"]
	path = src/zig-regex
	url = https://github.com/tiehuis/zig-regex
[submodule "src/zig-clap"]
	path = src/zig-clap
	url = https://github.com/Hejsil/zig-clap
[submodule "src/zig-walkdir"]
	path = src/zig-walkdir
	url = https://github.com/joachimschmidt557/zig-walkdir
